@page
@model WebApp.Pages.Game.NewGame

@{
    ViewData["Title"] = "New game";
}

<h1>Options to start a new game</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <strong>Player One Username</strong>
                  <input asp-for="GamePlayerOneName" class="form-control" placeholder="PlayerOne" required>
                </div>
                <div class="form-group col-md-6">
                  <strong>Player Two Username</strong>
                  <input asp-for="GamePlayerTwoName" class="form-control" placeholder="PlayerTwo" required>
                </div>
              </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <strong>Select Height:</strong>
                    <select asp-for="Height" class="form-control">
                        @for (var i = 5; i <= 26; i++)
                        {
                            <option value="@i">@i.ToString()</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <strong>Select Width:</strong>
                    <select asp-for="Width" class="form-control">
                        @for (var i = 5; i <= 26; i++)
                        {
                            <option value="@i">@i.ToString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label><strong>Place ships randomly</strong></label>
                <input asp-for="PlaceRandomly" type="checkbox" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <input type="submit" value="Start game" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
